@import '_global';

.div-height {
  height: 100px;
  margin: 32px auto;
}
.tag-container {
  overflow-y: hidden;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 600px;
  margin: 10px auto;
  .input-file {
    display: none;
  }
  .btn-i {
    text-transform: capitalize;
    margin: 10px auto;
  }
  .btn-primary {
    background: $color-blue-2f3646;
    @extend .default-font-color;
  }
  .btn-r {
    @extend .btn-i;
    @include float(right);
  }
  .btn-l {
    @extend .btn-i;
    @include float(left);
  }
}
.disabled {
  @extend .is-disabled;
}

.tag-panel-container {
  margin: 10px auto;
  @extend .w-100;
}

/**
  @ Image uploader styling
**/
div {
  &.img-parent-container {
    padding: 4px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  .img-container {
    height: 100%;
    padding: 0px;
  }
  img {
    vertical-align: middle;
  }
}

// table
table {
  @extend .w-100;
  table-layout: fixed;
  &.mat-table {
    background: $color-blue-303548;
  }
  .mat-cell .mat-footer-cell,
  .mat-header-cell {
    color: $color-white-hsla !important;
    .column-headers {
      text-transform: capitalize;
      display: block;
    }
  }
  .mat-cell {
    .image-drop-container {
      padding: 10px;
      @extend .w-75;
    }
    .text-wrapper {
      word-wrap: break-word;
      padding: 5px;
    }
  }
  tr {
    th {
      &.w-10 {
        @extend .w-10;
        padding: 5px;
      }
      &.w-20 {
        @extend .w-20;
        padding: 5px;
      }
      &.w-40 {
        @extend .w-40;
        padding: 5px;
      }
    }
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  cursor: pointer;
  @include back_ground_gradient($background-gradient-lightsLateGray-to-right);
  .mat-cell {
    color: $color-black-000000 !important;
  }
}

// tr.example-element-row:not(.example-expanded-row):active {
//   cursor: pointer;
//   background: #efefef;
// }

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  .expanded-container {
    justify-content: space-around;
    text-align: center;
    @extend .w-20;
    margin: 10px auto;
    h5 {
      color: $color-white-hsla;
    }
  }
  .expanded-tag-container {
    @extend .w-60;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .tag-form-container {
      margin: 5px;
      padding: 5px;
      width: calc((100% / 2) - 20px);
    }
  }
  .btn-wraper-container {
    @extend .w-20;
  }
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

[contenteditable='true']:focus {
  display: flex;
  width: 50%;
  align-items: center;
  margin: auto 10px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 2px 2px 6px 0px rgb(0 0 0 / 11%);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::ng-deep {
  mat-form-field {
    &.tag-form-field {
      @extend .white-out-line-form;
    }
  }
}
